.dungeon-enemy-cards {
  position: relative; /* Sets the reference for absolutely positioned children */
  height: 160px; /* Ensure this is enough to accommodate your largest card */
  margin-top: 10px;
}

.dungeon-enemy-card {
  position: absolute;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden; /* Ensures the pseudo-element does not escape the bounds of the card */
}

.dungeon-enemy-card:hover {
  transform: scale(1.2);
  z-index: 10;
}
