
.training-bg {
  --background: url('resources/images/TrainingRoom.webp') no-repeat center center / cover;
}
.text-overlay {
  padding: 10px;
  z-index: 100;
  width: 100%;
  position: relative;
  font-weight: 500;
}
