.splash-screen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s ease-in forwards; /* Updated to use fadeIn and added "forwards" */
    overflow: hidden;
}

.splash-screen ion-img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Adjust if necessary to ensure the image covers the whole screen without distortion */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
