.splash-screen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInOut 5s ease-in-out infinite;
    overflow: hidden;
}

.splash-screen ion-img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Adjust if necessary to ensure the image covers the whole screen without distortion */
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
