.weapon-name-title {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

ion-modal {
    --height: auto;
}
